<div class="container-fluid">

  <div class="jumbotron">
    <h1>Administrate And Control</h1>

    <div class="row">
      <div class="col-12 projectbox">
        <div class="row d-flex flex-row justify-content-around projectrow">
          <div class="col-3-md">
            <h3>User Details</h3>
          </div>
          <div class="col-6-md">
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputUserDetails">Search For User</label>
                <input id="inputUserDetails" type="text" class="form-control" placeholder="Type Username" aria-label="searchuser"
                       aria-describedby="basic-addon1" [(ngModel)]="searchuser" [ngModelOptions]="{standalone: true}"/>
              </div>
              <button type="button" class="btn ctionbtn" (click)="findUsername(searchuser)">
                <i class="fas fa-arrow-right"></i>
              </button>
              <button type="button" class="btn btn-transparent">
                <i class="far fa-plus-square"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="row d-flex flex-row justify-content-md-start projectrow">
          <div class="col-12">
            <span class="subtitle">User: {{founduser.username}}
              <!-- Just a Function to test Admin-Routes --  can be replaced-->
              <button type="button" class="btn actionbtn" (click)="adminService.testRoute()">
              <i class="fas fa-pencil-alt"></i>
            </button>
              <button type="button" class="btn actionbtn" (click)="this.adminService.deleteUser(founduser.id)">
              <i class="fas fa-trash-alt"></i>
            </button>
            </span>
            <div class="table-responsive-md">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Projects</th>
                  <th scope="col">Creation Date</th>
                  <th scope="col">Mindmaps</th>
                  <th scope="col">Rights</th>
                  <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of userprojects">
                  <td [hidden]="!hideEdit">{{project.pname}}</td>
                  <td [hidden]="hideEdit"><input id="inputEditPname" type="text" class="form-control" placeholder="Type Username" aria-label="searchuser"
                                                 aria-describedby="basic-addon1" [(ngModel)]="project.pname" [ngModelOptions]="{standalone: true}"/></td>
                  <td>{{project.creationDate | date}}</td>
                  <td>
                    <button type="button" class="btn actionbtn" (click)="foundproject = project.pname">
                      <i class="fas fa-folder-open"></i>
                    </button>
                    <button type="button" class="btn actionbtn" (click)="deleteProject(project)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                    <button type="button" class="btn actionbtn" [hidden]="!hideEdit" (click)="hideEdit = !hideEdit">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn actionbtn" [hidden]=hideEdit (click)="editProject(project); hideEdit = !hideEdit">
                      <i class="fas fa-save"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---------------------------------------------------------------------->
    <!---------------------------------------------------------------------->
    <!----------------------       Zweite Box     -------------------------->
    <!---------------------------------------------------------------------->
    <!---------------------------------------------------------------------->

    <div class="row">
      <div class="col-12 projectbox">
        <div class="row d-flex flex-row justify-content-around projectrow">
          <div class="col-3-md">
            <h3>Project Details</h3>
          </div>
          <div class="col-6-md">
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputProjectDetails">Add Project</label>
                <input type="text" class="form-control" id="inputProjectDetails" placeholder="Enter Project" [(ngModel)]="newPname">
              </div>
              <button type="button" class="btn btn-transparent" (click)="addProject(newPname)">
                <i class="far fa-plus-square"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="row d-flex flex-row justify-content-md-start projectrow">
          <div class="col-12">
            <span class="subtitle">Project: {{foundproject}}
              <button type="button" class="btn actionbtn">
              <i class="fas fa-pencil-alt"></i>
            </button>
              <button type="button" class="btn actionbtn">
              <i class="fas fa-trash-alt"></i>
            </button>
            </span>
            <div class="table-responsive-md">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Mindmaps</th>
                  <th scope="col">Creation Date</th>
                  <th scope="col">Nodes</th>
                  <th scope="col">Rights</th>
                  <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Fellowship</td>
                  <td>01-01-2020</td>
                  <td>3</td>
                  <td>Admin</td>
                  <td>
                    <button type="button" class="btn actionbtn">
                      <i class="fas fa-folder-open"></i>
                    </button>
                    <button type="button" class="btn actionbtn">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                    <button type="button" class="btn actionbtn">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!---------------------------------------------------------------------->
    <!---------------------------------------------------------------------->
    <!----------------------       Dritte Box     -------------------------->
    <!---------------------------------------------------------------------->
    <!---------------------------------------------------------------------->

    <div class="row">
      <div class="col-12 projectbox">
        <div class="row d-flex flex-row justify-content-around projectrow">
          <div class="col-3-md">
            <h3>Invitation Details</h3>
          </div>
          <div class="col-6-md">
            <form class="form-inline">
              <div class="form-group mx-sm-3 mb-2">
                <label for="inputInvitationsDetails">Search For User</label>
                <input type="text" class="form-control" id="inputInvitationsDetails" placeholder="Enter Email">
              </div>
              <button type="button" class="btn btn-transparent">
                <i class="far fa-plus-square"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="row d-flex flex-row justify-content-md-start projectrow">
          <div class="col-12">
            <span class="subtitle">Project: {{foundproject}}
              <button type="button" class="btn actionbtn">
              <i class="fas fa-pencil-alt"></i>
            </button>
              <button type="button" class="btn actionbtn">
              <i class="fas fa-trash-alt"></i>
            </button>
            </span>
            <div class="table-responsive-md">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Participant</th>
                  <th scope="col">Invite Pending?</th>
                  <th scope="col">Since</th>
                  <th scope="col">Rights</th>
                  <th scope="col">Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Samweis</td>
                  <td>Yes
                    <button type="button" class="btn btn-transparent">
                      <i class="far fa-times-circle"></i>
                    </button>
                  </td>
                  <td>01-01-20</td>
                  <td>Admin</td>
                  <td>
                    <button type="button" class="btn actionbtn">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
