<div class="bg-img">
  <div class="row infotext">
    <div class="col-4">
      <div class="row">
        <h1>Put Thoughts Into Form</h1>
        <p class="">Lorem ipsum dolor sit amet,
          consetetur sadipscing elitr,
          sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <a class="btn frontbtn" (click)="regBtnClicked()">Get started</a>
        </div>
        <div class="col-sm-5">
          <a class="btn frontbtn" routerLink="/info">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-6">
    </div>
  </div>
</div>
