<div class="bg-img">

  <!-------------------------------------------------------------------------------->
  <!------------------------           CONTENT          ---------------------------->
  <!-------------------------------------------------------------------------------->
  <div class="wrapper">
    <div class="row d-flex flex-row justify-content-center">
      <div class="col col-md-3">
        <div class="textwrapper">
          <div class="icon-wrapper">
            <img class="icon" src="../../../assets/images/sign-up-white.svg">
          </div>
          <h2>Sign Up</h2>
          <p>
            Get through the quick sign up process, dive right in
            and start exploring the possibilities MindStruct gives you.
          </p>
        </div>
      </div>
      <div class="col col-md-3">
        <div class="textwrapper">
          <div class="icon-wrapper">
            <img class="icon" src="../../../assets/images/team-up-white2.svg">
          </div>
          <h2>Team Up</h2>
          <p>
            Join the community, invite your friends, colleagues or classmates to your projects
            to combine your minds and pool together your ideas.
          </p>
        </div>
      </div>
      <div class="col col-md-3">
        <div class="textwrapper">
            <img class="icon" src="../../../assets/images/evolve-white400.svg">
          <h2>Evolve</h2>
          <p>
            Put form to your thoughts! Express your ideas in graphics and
            build relationships as you develop the structure of your thinking.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
